.button {
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 40px;
  border: 1px solid transparent;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.3s ease-in;
  
  &-green {
    background-color: var(--color-green);
    color: var(--color-white);

    &:hover {
     background-color: transparent;
     border: 1px solid #fff;
    }
  }

  &-white {
    background-color: var(--color-white);

    &:hover {
      background-color: var(--color-dark);
      color: var(--color-white);
      color: #fff;
     }
  }

  &-blue {
    background-color: var(--color-primary);
    color: var(--color-white);

    &:hover {
      background-color: transparent;
      color: var(--color-dark);
      border: 1px solid var(--color-dark-grey);

      svg {
        path {
          fill: var(--color-dark);
        }
      }
    }
  }

  &-transparent {
    background-color: transparent;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid var(--color-dark);
    }
  }
}