.slider-paginations{ 
  left: 50%;
  transform: translateX(-50%);
  bottom: 49px;
  gap: 1px;
  cursor: pointer;
  z-index: 999;

  .slider-pagination {
    width: 62px;
    height: 10px;
    opacity: 0.5;
    background-color: var(--white-color);
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }

    @media (max-width: 586px) {
     width: 45px;
    }
  }
}

.slider-left-arrow,
.slider-right-arrow {
  top: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 999;
  transition: all 0.5s;

  &::before {
    content: "";
    background-color: var(--dark-color);
    width: 0;
    height: 4px;
    position: absolute;
    top: 20px;
    transition: width 0.2s linear;
  }

  &:hover {
    path {
      fill: var(--dark-color);
    }

    &::before {
      width: 50px;
    }
  }
}

.slider-left-arrow {
  left: 49px;

  &::before {
    left: 5px;
  }

  @media (max-width: 768px) {
    left: 40px;
  }
}

.slider-right-arrow {
  right: 49px;

  &::before {
    right: 5px;
  }

  @media (max-width: 768px) {
    right: 31px;
  }
}