h1, .h1 {
  font-size: 58px;
  line-height: 1.6;
}

h2, .h2 {
  font-size: 40px;
  line-height: 1.25;
}

h3, .h3 {
  font-size: 24px;
  line-height: 1.33;
}

h4, .h4 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
  line-height: 1.71;
}

h1, h2, h3, h5, h6,
.h1, .h2, .h3, .h5, .h6 {
  font-weight: 700;
}
