.container-lg {
  margin: 0 auto;
  max-width: var(--container-width);
}

.conatiner-sm {
  margin: 0 auto;
  max-width: var(--small-container-width);
}

img {
  max-width: 100%;
}

.list__unhide {
  transform: translateX(0) !important;
  opacity: 1;
}

.active-link {
  font-weight: 500;
}

.position-center  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.danger-text {
  color: var(--danger-color);
}