.container {
  margin: 0 auto;
  max-width: var(--container-width);
}

.small-container {
  margin: 0 auto;
  max-width: var(--small-container-width);
}

img {
  max-width: 100%;
}

.unhide-navbar-link-list {
  transform:  translateX(0) !important;
}