@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body,
button,
input {
	font-family: var(--font-family);
	color: var(--dark-color);
}

p {
	font-size: 14px;
	line-height: 1.42;
}