:root {
  --container-width: 1440px;
  --small-container-width: 1080px;
  --container-padding: 80px 40px;

  --font-family: "Montserrat";

  --color-dark: #252B42;
  --color-green: #2DC071;
  --color-muted: #BDBDBD;
  --color-white: #FFFFFF;
  --color-hover: #2A7CC7;
  --color-orange: #E77C40;
  --color-danger: #E74040;
  --color-border: #ECECEC;
  --color-primary: #23A6F0;
  --color-dark-grey: #858585;
  --color-dark-green: #23856D;
  --color-light-grey: #FAFAFA;
  --color-second-text: #737373;
  --color-active-bleu: #8EC2F2;
  --color-input-border: #E6E6E6;
  --color-container-bg: #FBFBFB;
}