:root {
  --container-width: 1440px;
  --small-container-width: 1080px;
  --container-padding: 80px 40px;

  --font-family: "Montserrat";

  --dark-color: #252B42;
  --green-color: #2DC071;
  --muted-color: #BDBDBD;
  --orange-color: #E77C40;
  --light-text-color: #fff;
  --primary-color: #23A6F0;
  --second-text-color:#737373;
  --secondary-bg-color:#fafafa;
  --dark-green-color: #23856D;
  --active-blue-color: #8EC2F2;
  --input-border-color: #e6e6e6
}