$container-width: 1050px;

.about-us {

  .header {
    position: relative;
  }

  .navbar {
    .container-lg {
      max-width: $container-width;
      margin: 0 auto;
    }

    &__link-list {
      @media (max-width: 992px) {
        background-color: #f6f6f6;
        top: 85px;
      }
    }

    &__icons {
      display: none;
      @media (max-width: 992px) {
        display: block;
      }
    }

    &__buttons {
      .button-blue {
        padding: 15px 25px;
        display: inline-flex;
        align-items: center;
        gap: 15px;
      }

      .button-transparent {
        color: var(--primary-color);

        &:hover {
          color: var(--dark-color);
        }
      }
    }

  }

  .hero {
    .container-lg {
      justify-content: space-between;
      align-items: center;
      max-width: $container-width;
      margin: 0 auto;
    }

    &__product-information {
      color: var(--dark-color);
      margin: 0;
      padding: 0;

      .button-blue {
        font-size: 14px;
      }
    }

    &__image-container {
      max-width: 632px;
      margin-right: -120px;
    }
  }

  .information {
    .container-sm {
      max-width: 1018px;
      margin: 0 auto;
      align-items: center;
      justify-content: space-evenly;
      gap: 60px;
      padding-block: 48px;
    }

    &__left {
      max-width: 400px;

      .danger-text {
        margin-bottom: 24px;
      }
    }

    &__right {
      max-width: 540px;
    }
  }

  .stats {
    .container-sm {
      max-width: $container-width;
      margin: 0 auto;
      gap: 120px;
      justify-content: space-evenly;
      padding-block: 80px;
    }

    &__customer-count,
    &__visitor-count,
    &__countries-count,
    &__partners-count {
      flex-direction: column;

      .h1 {
        color: var(--dark-color);
        font-weight: 700;
      }
    }
  }
  
  .video-information {

    .container-sm {
      max-width: $container-width;
      margin: 0 auto;
      padding: 112px 30px;
      border-radius: 5px;
    }
  }

  .companies {
    background-color: var(--light-grey-color);
    .container-sm {
      flex-direction: column;
      padding-block: 80px;
      gap: 30px;
      max-width: $container-width;
      margin: 0 auto;

      p {
        max-width: 547px;
        text-align: center;
      }
    }

    .worked-with {
      padding-block: 50px;
    }
  }

  .team {

    .container-sm {
      max-width: $container-width;
      margin: 0 auto;
    }

    &__introduction {
      max-width: 607px;
      text-align: center;
      margin: 0 auto;
      padding-block: 112px;

      p {
        margin-top: 10px;
      }
    }

    .team__members {
      gap: 30px;
      flex-wrap: wrap;
      padding-bottom: 112px;
    }

    .team__member {
      transition: all 0.6s;
      overflow: hidden;

      img {
        transition: all 0.8s;
      }

      &:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        img {
          transform: scale(1.05);
        }
      }
    }


    .member__detail {
      flex-direction: column;
      gap: 10px;
      padding-block: 30px;

      p {
        color: var(--second-text-color);
      }
    }

    .member__socials {
      gap: 20px;
    }
  }
}