$gap-small: 5px;
$gap-medium: 15px;
$gap-large: 30px;

.announcement-bar {
  background-color: var(--color-dark);
  padding: 10px 30px;

  @media (max-width: 992px) {
    display: none;
  }

  .container-lg {
    justify-content: space-between;
  }

  h6,
  a{
    color: var(--white-color);
    font-weight: 700;

    @media (max-width: 1100px) {
      font-size: 12px;
    }
  }

  &__email, 
  &__tel {
    gap: $gap-small;
  }

  &__contact-info {
    gap: $gap-large;
  }

  &__socials,
  &__icons {
    gap: $gap-medium;
  }
}
