.classic-product {
  background-color: var(--dark-green-color);
  color: var(--white-color);
  overflow: hidden;

  &__slider {
    margin: 0 auto;
    max-width: 1080px;
    position: relative;
    width: 100%;
    margin-bottom: -50px;
    height: 50rem;  
    overflow: hidden;

    @media (max-width: 1024px) {
      height: 76rem;
      margin-bottom: -90px;
    }
  }

  &__slide {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 1s;
  }

  &__slide-content {
    justify-content: space-between;
    display: flex;
    max-width: 1036px;
    padding-top: 160px;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 30px;
      align-items: center;
      text-align: center;
    }
  }

  &__information {
    max-width: 509px;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;

    @media (max-width: 1280px) {
      max-width: 400px;
      padding-top: 48px;
    }

    @media (max-width: 1024px) {
      margin: 0 auto;
    }

    @media (max-width: 768px) {
      max-width: 90%;
      width: 100%;
      text-align: center;
    }

    .h1 {
      font-weight: 700;

      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }

  &__paragraph {
    max-width: 341px;

    @media (max-width: 1024px) {
      margin: 0 auto;
    }

    @media (max-width: 768px) {
      font-size: 20px;
      max-width: 80%;
      line-height: 30px;
    }
  }

  &__button-container {
    gap: 34px;
    align-items: center;

    @media (max-width: 1024px) {
      margin: 0 auto;
    }

    @media (max-width: 768px) {
      gap: 20px;
      flex-direction: column;
    }

    .button {
      font-size: 14px;
      padding: 15px 40px;
    }
  }

  &__image {
    max-width: 510px;
    width: 100%;
    margin-bottom: -5px;
  }

  @media (max-width: 1024px) {
    .slider-pagination {
      display: none;
    }
  }
}