$gap-medium: 30px;
$gap-large: 34px;

.classic-product {
  background-color: var(--dark-green-color);
  color: var(--light-text-color);

  .container {
    padding-top: 112px;
    justify-content: center;
    gap: $gap-medium;
  }

  &-information {
    max-width: 509px;
    flex-direction: column;
    gap: $gap-medium;
    margin-top: 60px;

    .h1 {
      font-weight: 700;
    }
  }

  &__paragraph {
    max-width: 341px;
  }

  &-button {
    gap: $gap-large;
    align-items: center;
  }

  .button {
    font-size: 14px;
    padding: 15px 40px;
  }

  &-image {
    max-width: 510px;
    width: 100%;
    margin-bottom: -5px;
  }
}