.editor-pick {
  background-color: var(--secondary-bg-color);
  padding: var(--container-padding);
  
  .container-sm {
    text-align: center;
  }

  h3 {
    color: var(--dark-color);
  }

  p {
    margin: 10px auto 48px auto;
    color: var(--second-text-color);
  }

  &__category {
    gap: 30px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      justify-content: center ;
      max-width: 324px;
      margin: 0 auto;
      width: 100%;  
    }
  }

  img {
    object-fit: cover;
    max-width: 100%;
  }

  .button {
    font-size: 16px;
  }

  .category {
    &__3 {
      flex-direction: column;
      align-items: center;
      gap: 16px;
      max-width: 240px;

      @media (max-width: 768px) {
        max-width: 325px;
      }

      img {
        width: 240px;

        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }

    &__men {
      .button {
        bottom: 26px;
        left: 31px;
        padding: 12px 66px;
      }
    }

    &__women {
      .button {
        bottom: 23px;
        left: 14px;
        padding: 12px 33px;
      }
    }

    &__accessories {
      .button {
        bottom: 18px;
        left: 18px;
        padding: 12px 26px;

        @media (max-width: 992px) {
          padding: 8px;
          left: 10px;
        }

        @media (max-width: 768px) {
          padding: 12px 26px;
          left: 18px;
        }
      }
    }

    &__kids {
      .button {
        bottom: 18px;
        left: 18px;
        padding: 12px 40px;
      }
    }
    
    &__men,
    &__women,
    &__accessories,
    &__kids {
      overflow: hidden;

      img {
        transition: transform 0.5s linear;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}