.featured {
  padding: var(--container-padding);

  .container-sm {
    text-align: center;
    max-width: 1124px;
    margin: 0 auto;
  }

  &__heading {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 80px;

    @media (max-width: 768px) {
      max-width: 261px;
      margin: 48px auto;
    }

    .h3 {
      color: var(--dark-color);
    }

    .h4,
    p {
      color: var(--second-text-color);
    }
  }

  &__cards {
    gap: 80px 30px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      max-width: 328px;
      margin: 0 auto;
    }
  }

  &__card {
    max-width: 239px;
    cursor: pointer;
    padding-bottom: 40px;
    overflow: hidden;
    transition: box-shadow 0.7s;

    @media (max-width: 768px) {
      max-width: 328px;
      width: 100%;
    }

    &:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

      img {
        transform: scale(1.03);
      }
    }

    img {
      height: 427px;
      transition: transform 0.2s ease-in;
    }

    .h5 {
      color: var(--dark-color);
    }

    p {
      font-weight: 700;
      color: var(--second-text-color);
    }
  }

  .card-information {
    margin-top: 25px;
    flex-direction: column;
    gap: 10px;
  }

  .card-price {
    color: var(--muted-color);
  }

  .card-sale-price {
    color: var(--dark-green-color);
  }

  .card-colors {
    gap: 6px;
    justify-content: center;
  }

  .card-color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
  }

  .card1 {
    background-color: var(--primary-color);
  }
  
  .card2 {
    background-color: var(--dark-green-color);
  }
  
  .card3 {
    background-color: var(--orange-color);
  }
  
  .card4 {
    background-color: var(--dark-color);
  }
}

