.featured-post {
  padding: var(--container-padding);
  padding-top: 112px;

  .container-sm {
    text-align: center;

    .h6 {
      color: var(--primary-color);
    }
  }
  
  &__paragraph {
    max-width: 469px;
    margin: 0 auto;
    color: var(--second-text-color);
  }

  &__information {
    flex-direction: column;
    gap: 10px;

    @media (max-width: 786px) {
      margin-bottom: 80px;
      max-width: 300px;
      margin: 0 auto 80px auto;
    }

    .h2 {
      color: var(--dark-color);
    }
  }

  &__cards {
    margin-top: 80px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media (max-width: 786px) {
      flex-direction: column;
      gap: 30px;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__card {
    text-align: left;
    max-width: 348px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 0;
    position: relative;

    @media (max-width: 786px) {
      max-width: 100%;
      width: 100%;
    }

    .card-label {
      padding: 5px 10px;
      top: 20px;
      left: 20px;
      font-size: 14px;
      font-weight: 700;
      border-radius: 3px;
      color: var(--white-color);
      text-transform: uppercase;
      background-color: #E74040;  
    }

    img {
      width: 348px;
      height: 300px;

      @media (max-width: 786px) {
        width: 100%;
        height: 100%;
      }
    }

    .h4 {
      color: var(--dark-color);
    }

    p {
      color: var(--second-text-color);
    }

    .active {
      color: var(--active-blue-color);
    }
  }

  .card-information {
    flex-direction: column;
    gap: 10px;
    padding: 25px;

    @media (max-width: 786px) {
      margin-top: 0;
    }

    p {
      max-width: 280px;
    }
  }

  .information__categories {
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
  }

  .button {
    padding: 5px 10px 5px 0;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    gap: 10px;
    max-width: 150px;
    color: var(--second-text-color);
    border-radius: 5px;
    max-width: 130px;
    transition: all 0.4s;

    &:hover {
      color: var(--primary-color);
      border: 1px solid transparent;

      svg {
        transform: translateX(10px);
      }
    }
  }


  &__timing {
    justify-content: space-between;
    align-items: center;
    margin-block: 15px;

    .timing_date,
    .timing_comment {
      align-items: center;
      gap: 5px;
    }
  }
}