.hero {
  .container {
    width: 100%;
    max-width: 100%;
  }
  
  .hero-slides {
    overflow: hidden;
  }

  &-product-information {
    color: var(--light-text-color);
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    max-width: 1044px;
    margin: 0 auto;
    padding-block: 160px;

    p {
      font-size: 20px;
      max-width: 376px;
    }

    @media (max-width: 1280px) {
      max-width: 800px;
    }

    @media (max-width: 992px) {
      max-width: 600px;

      .h1 {
        font-size: 40px;
        line-height: 50px;
      }

      p {
        font-size: 20px;
        line-height: 30px;

        @media (max-width: 768px) {
          max-width: 291px;
        }
      }
    }

    @media (max-width: 768px) {
      padding-inline: 40px;
      align-items: center;
      text-align: center;
    }
  }

  img {
    z-index: -1;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }
  
  .button {
    font-size: 24px;
  }

  .slider-dark { 
    .hero-product-information {
      color: var(--dark-color);
    }
  }
}