.navbar {
  padding: 28px 30px;

  &__brand {
    gap: 119px;

    h3 {
      color: var(--dark-color);
    }
  }

  &__link-list {
    color: var(--second-text-color);
  }

  &__link-list,
  &__icons,
  &__search {
    gap: 15px;
  }

  .link-flex {
    gap: 9px;
  }

  &__icons{
    color: var(--primary-color);
  }

  .cart,
  .fav {
    align-items: center;
    gap: 5px;
  }
}