.neural-universe {
  .container-lg {
    max-width: 1154px;
    gap: 30px;
    align-items: center;

    @media (max-width: 1024px) {
      flex-direction: column-reverse;
      padding-top: 120px;
      text-align: center;
    }

    picture {
      max-width: 704px;
      width: 100%;
    }
  }

  &__information {
    flex-direction: column;
    gap: 30px;
    max-width: 375px;

    h2 {
      color: var(--dark-color);
    }

    h5 {
      color: var(--muted-color);
    }
    
    p{
      color: var(--second-text-color);
    }
  }

  &__buttons {
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 25px;
      align-items: center;
    }

    .button-white {
      border-radius: 5px;
      margin-left: 10px;
      color: var(--green-color);
      border: 1px solid var(--green-color);

      &:hover {
        color: var(--light-text-color);
        background-color: var(--green-color);
      }
  
      @media (max-width: 768px) {
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        
        &:hover {
          background-color: var(--primary-color);
        }
      }
    }
  
    .button-green {
      &:hover {
        color: var(--green-color);
        border: 1px solid var(--green-color);
        background-color: transparent;
      }
      
      @media (max-width: 768px) {
        background-color: var(--primary-color);
        
        &:hover {
          background-color: transparent;
          color: var(--primary-color);
          border: 1px solid var(--primary-color);
        }
      }
    }
  }
}