.neural-universe {
  .container {
    gap: 110px;
    align-items: center;
    padding-inline: 40px;

    @media (max-width: 992px) {
      flex-direction: column-reverse;
      padding-top: 120px;
      text-align: center;
    }
  }

  &-image {
    max-width: 704px;
  } 

  &-information {
    flex-direction: column;
    gap: 30px;
    max-width: 375px;
    margin: 0 auto;

    .h2 {
      color: var(--dark-color);
    }

    .h4 {
      color: var(--second-text-color);
    }

    .h5 {
      color: var(--muted-color);
    }
  }

  &-buttons {
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 25px;
      align-items: center;
    }

    .button-white {
      border-radius: 5px;
      margin-left: 10px;
      color: var(--green-color);
      border: 1px solid var(--green-color);
  
      &:hover {
        color: var(--light-text-color);
      }

      @media (max-width: 768px) {
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        
        &:hover {
          background-color: var(--primary-color);
        }
      }
    }
  
    .button-green {
      &:hover {
        color: var(--green-color);
        border: 1px solid var(--green-color);
      }
      
      @media (max-width: 768px) {
        background-color: var(--primary-color);
        
        &:hover {
          background-color: transparent;
          color: var(--primary-color);
          border: 1px solid var(--primary-color);
        }
      }
    }
  }
}