.product-page {
  .announcement-bar {
    background-color: var(--dark-green-color);

    .container {
      max-width: 1000px;
    }
  }

  .navbar {
    &-brand-container {
      max-width: 1042px;
    }
  }

  .navigation {
    .container {
      max-width: 1049px;
      border: 1px solid red;
    }

    &-path {
      align-items: center;
      gap: 15px;
    }
  }
}