.product-list {
  .announcement-bar {
    background-color: var(--dark-green-color);

    .container-lg {
      max-width: 1128px;
      gap: 50px;
      justify-content: center;
      padding-inline: 54px;
    }

    span {
      font-weight: 400;
      font-size: 12px;
    }

    p {
      font-size: 14px;
      font-weight: 700;
      color: var(--white-color);
    }

    svg {
      &:hover {
        path {
          fill: var(--color-dark);
        }
      }
    }
  }

  .navbar {
    &__brand {
      max-width: 1112px;
      padding-inline: 35px;
      margin-inline: auto;

      @media (max-width: 992px) {
        padding: 0;
        margin: 0;
      }
    }

    &__link-list {
      gap: 140px;

      @media (max-width: 992px) {
        gap: 21px;
      }

      ul {
        gap: 15px;

        @media (max-width: 992px) {
          flex-direction: column;
          gap: 30px;
        }
      }
    }

    &__icons {
      @media (max-width: 992px) {
        flex-direction: column;
      }

      svg {

        @media (max-width: 992px) {
          width: 34px;
          height: 34px;
        }

        path {
          @media (max-width: 992px) {
            fill: var(--primary-color);
          }
        }
      }
    }

    &__login, 
    .cart-icon__item,
    .fav-icon__item,
    .fav-icon {
      @media (max-width: 992px) {
        display: inline-block;
      }
    }

    .cart-icon__item,
    .fav-icon__item {
      @media (max-width: 992px) {
        font-size: 12px;
      }
    }

    &__search {
      @media (max-width: 992px) {
        flex-direction: column;
      }
    }
  }

  .navigation-w-categories {
    background-color: var(--light-grey-color);
    &__path-container {
      max-width: 1070px;
      margin-inline: auto;
      padding: 30px 35px;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 54px;
      }
    }

    &__path {
      gap: 15px;
      cursor: pointer;
    }

    &__categories {

      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
      padding-bottom: 48px;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      .category {
        cursor: pointer;

        &:hover {
          img {
            border-radius: 10px;
            transform: scale(1.05);
          }
        }

        img {
          transition: all 0.6s;
        }

        .category__information {
          color: var(--white-color);
          flex-direction: column;
          align-items: center;
          gap: 10px;

          @media (max-width: 992px) {
            gap: 30px;
          }
        }
      }
    }


  }

  .filter-category {
    .container-sm {
      padding-block: 37px;
      max-width: 1050px;
      margin: 0 auto;
      color: var(--second-text-color);

      @media (max-width: 1024px) {
        flex-direction: column;
        gap: 24px;    
      }

      .btn-group {
        gap: 15px;
        button {
          padding: 15px;
          border: 1px solid var(--border-color);
          border-radius: 5px;
          cursor: pointer;

          svg {
            path {
              transition: all 0.6s;
            }
          }

          &:hover {
            svg {
              path {
                fill: var(--primary-color);
              }
            }
          }
        }
      }

      .filter-option-w-button {
        gap: 15px;

        select {
          border: 1px solid var(--border-color);
          border-radius: 5px;
          padding: 11px 18px;
          font-size: 14px;
          color: inherit;
          cursor: pointer;
          transition: all 1s;

          &:hover {
            border: 1px solid var(--color-dark);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
          }

          .flex {
            justify-content: center;
            align-items: center;
            gap: 0;
          }
        }

        .button-blue {
          border-radius: 5px;
          padding: 11px 27px;
        }
      }
    }

    &__products {
      max-width: 1124px;
      margin: 0 auto;
      gap: 30px;
      padding-inline: 38px;
      flex-wrap: wrap;
    }

    .product__card {
      cursor: pointer;
      transition: all 0.6s;
      border-radius: 5px;

      img {
        transition: all 0.6s;
      }

      &:hover {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        img {
          transform: scale(1.02);
          border-radius: 5px;
        }
      }
    }

    .product__information {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 25px 0 35px 0;
    }

    .product__price {
      color: var(--muted-color);
    }

    .product__sale-price {
      color: var(--dark-green-color);
      margin-left: 5px;
    }

    .product__colors {
      gap: 7px;
    }

    .product__color {
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }

    .color1 {
      background-color: var(--primary-color);
    }

    .color2 {
      background-color: var(--dark-green-color);
    }
    
    .color3 {
      background-color: var(--orange-color);
    }
    
    .color4 {
      background-color: var(--dark-green-color);
    }

    &__pagination {
      max-width: 313px;
      margin: 48px auto;

      button {
        padding: 25px;
        font-weight: 700;
        border: 1px solid var(--border-color);
        color: var(--primary-color);
        cursor: pointer;
        transition: all 1s;
      }

      button:not(.button-disabled):hover {
        background-color: var(--primary-color);
        color: var(--white-color);
      }

      #pagination__first {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      #pagination__next {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .button-disabled {
        background-color: var(--light-grey-color);
        color: #bdbdbd;
      }
    }

    .pagination__numbers {
      counter-reset: pagination-number;
      cursor: pointer;
    }

    .pagination__number {
      padding: 25px 20px;
      font-weight: 700;
      color: var(--primary-color);
      border: 1px solid var(--border-color);
      counter-increment: pagination-number;
      transition: all 1s;

      &:hover {
        background-color: var(--primary-color);
        color: var(--white-color);
      }
    }

    .pagination__number::before {
      content: counter(pagination-number);
    }

    .active-page-number {
      color: var(--white-color);
      background-color: var(--primary-color);
    }

    .worked-with {
      background-color: var(--light-grey-color);
      padding-block: 58px;

      .companies-container {
        flex-wrap: wrap;
        row-gap: 60px;

        @media (max-width: 768px) {
          flex-direction: column;
        }
      }
    }
  }
}

.footer {

  &__brand-container {
    .container-sm {
      max-width: 1050px;
      margin: 0 auto;
      padding-block: 53px;
      border-bottom: 1px solid var(--border-color);
      justify-content: space-between;

      @media (max-width: 992px) {
        padding-inline: 24px;
      }

      @media (max-width: 768px) {
        border: none;
        flex-direction: column;
        gap: 24px;
        padding-inline: 46px;
      }
    }
  }

  &__copyright-container {
    background-color: var(--light-grey-color);
  }

  &__copyright-text {
    max-width: 1050px;
    margin: 0 auto;
    padding: 40px 0;
    border-bottom: 1px solid var(--border-color);

    @media (max-width: 992px) {
      padding-inline: 24px;
    }
    
    @media (max-width: 768px) {
      gap: 24px;
      border: none;
      text-align: center;
      padding-inline: 46px;
      flex-direction: column;
    }
  }

  &__icons {
    justify-content: flex-start;
    gap: 20px;
  }
}