$container-sm: 1050px;
$padding-inline: 30px;

.product-page {
  .announcement-bar {
    background-color: var(--color-dark-green);

    .container-lg {
      justify-content: center;
      max-width: 1128px;
      padding-inline: 54px;
      gap: 50px;
    }

    a {
      font-weight: 400;
      font-size: 12px;
    }

    p {
      font-weight: 700;
      color: var(--color-white);

      @media (max-width: 1100px) {
        font-size: 10px;
      }
    }

    h6 {
      font-weight: 700;
    }

    svg {
      &:hover{
        path {
           fill: var(--color-dark) !important;
         }  
      }
    }
  }

  .navbar {
    background-color: var(--color-white);

    @media (max-width: 992px) {
      padding: 23px 35px;
    }
  
    .container-lg {
      max-width: $container-sm;
      margin: 0 auto;
  
      @media (max-width: 1100px) {
        justify-content: space-around;
      }

      @media (max-width: 992px) {
        justify-content: space-between;
      }
    }
  
    &__brand {
      gap: 119px;
  
      @media (max-width: 1100px) {
        gap: 80px;
      }
    }
  
    &__link-list {
      gap: 125px;
  
      @media (max-width: 1200px) {
        gap: 150px;
      }
  
      @media (max-width: 992px) {
        padding-top: 81px;
        position: fixed;
        left: 0;
        top: 75px;
        background-color: var(--color-white);
        justify-content: flex-start;
        align-items: center;
        gap: 35px;
        font-size: 30px;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        z-index: 999;
        transition: transform 0.6s ease-in-out, opacity 0.6s ease-in;
      }
    }
  
    ul {
      gap: 15px;
  
      @media (max-width: 992px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        font-size: 30px;
        font-weight: 400;
      }
    }
  
    &__icons,
    &__search {
      gap: 30px;
  
      @media (max-width: 1100px) {
        gap: 15px;
      }
  
      @media (max-width: 992px) {
        flex-direction: column;
        gap: 30px;
      }

      svg {
        @media (max-width: 992px) {
          height: 34px;
          width: 34px;
        }

        path {
          fill: var(--color-primary);
        }
    }
  
    .cart-icon,
    .fav-icon {
      display: flex;
      align-items: center;
      gap: 7px;

      span {
        display: inline-block;
        font-size: 12px;
      }
    }
  }
  
    &__login {
      color: var(--color-primary);
      display: flex;
      align-items: center;
      gap: 6px;

      svg {
        @media (max-width: 992px) {
          width: 27px;
          height: 28px;
          
          path {
            fill: var(--color-primary);
          }
        }
      }
    }
    
    #hamburger-icon {
      cursor: pointer;
      position: relative;
      z-index: 999;
      display: none;

      @media (max-width: 992px) {
        display: block;
      }
    }

    svg {
      color: var(--color-primary);

      @media (max-width: 992px) {
        width: 24px;
        height: 24px;
      }
    }
  }
  
  .navigation {
    background-color: var(--color-light-grey);
  
    .container-lg {
      padding: 34px 30px 34px 30px;
      max-width: 1090px;
      margin-inline: auto;

      @media (max-width: 992px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    
    &-path {
      gap: 15px;
      align-items: center;

      @media (max-width: 768px) {
        justify-content: center;
      }

      a {
        cursor: pointer;
      }
    }    
  }

  .product {
    background-color: var(--color-light-grey);
    padding: 0 30px 48px 30px;

    @media (max-width: 768px) {
      padding-bottom: 0;
    }

    .container-sm {
      max-width: 1052px;
      margin-inline: auto;
      gap: 54px;

      @media (max-width: 1042px) {
        flex-direction: column;
        align-items: center;
        max-width: 700px;
        margin-inline: auto;
        padding: 48px 33px;
      }
    }

    .product-slider-container {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 40rem;
      display: flex;
    
      @media (max-width: 1042px) {
        max-width: 700px;
      }
    
      .product-slider {
        display: flex; 
        height: 450px;
        position: absolute;
        width: 100%;
        transition: transform 1s ease;
    
        img {
          flex-shrink: 0;
          width: 100%;
          height: 100%;
          object-fit: fill;
    
          @media (max-width: 568px) {
            width: 100%;
            max-height: 250px;
          }
        }
      }
    
      .product-left-icon {
        position: absolute;
        left: 40px;
        bottom: 243px;
    
        @media (max-width: 768px) {
          bottom: 50%;
          transform: translateY(-50%);
        }
      }
    
      .product-right-icon {
        position: absolute;
        right: 35px;
        bottom: 243px;
    
        @media (max-width: 768px) {
          bottom: 50%;
          transform: translateY(-50%);
        }
      }
    
      .product-slider-dots {
        display: flex;
        gap: 19px;
        margin-top: 21px;
        cursor: pointer;
    
        img {
          width: 100px;
          height: 75px;
        }
      }
    }

    &-details {
      @media (max-width: 1042px) {
        max-width: 700px;
      }
    }

    &-review-stars {
      gap: 8px;
      margin: 12px 0 24px 0;

      .h6 {
        margin-left: 2px;
      }
    }

    &-reviews {
      color: var(--color-second-text);
    }

    &-availability {
      margin: 10px 0 32px 0;
      color: var(--color-second-text);

      span {
        color: var(--color-primary);
        margin-left: 4px;
      }
    }

    &-description {
      padding-bottom: 27px;
      color: var(--color-dark-grey);
      border-bottom: 1px solid var(--color-muted);
    }

    &-colors {
      gap: 10px;
      margin: 29px 0 67px 0;
    }

    &-color {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;

      &:nth-child(1) {
        background-color: var(--color-primary);
      }

      &:nth-child(2) {
        background-color: var(--color-green);
      }
      
      &:nth-child(3) {
        background-color: var(--color-orange);
      }
      
      &:nth-child(4) {
        background-color: var(--color-dark);
      }
    }

    &-cta {
      gap: 10px;
      align-items: center;

      .button {
        border-radius: 5px;
        text-transform: capitalize;

        @media (max-width: 1024px) {
          padding: 10px 20px;
        }
      }
    }
    .cta-svg {
      width: 40px;
      height: 40px;
      padding: 12px;
      border-radius: 50%;
      border: 1px solid var(--color-muted);
      cursor: pointer;
      transition: transform 0.8s;

      svg {
        width: 18px;
        height: 18px;
      }

      &:hover {
        background: #60afdc;
        transform: scale(0.9);

        path {
          fill: #fff;
        }
      }
    }
  }

  .information {

    .flex {
      justify-content: center;
      flex-wrap: wrap;
      padding-inline: $padding-inline;
    }

    @media (max-width: 1024px) {
      .flex {
        flex-direction: column;
        align-items: center;
        gap: 30px;
      }
    }

    &__links {
      gap: 48px;
      flex-wrap: wrap;
      padding-block: 34px;
      padding-bottom: 40px;
      border-bottom: 1px solid var(--color-border);

      @media (max-width: 768px) {
        gap: 10px;
        flex-direction: column;
      }

      .h6 {
        color: var(--color-second-text);
      }

      span {
        color: var(--color-dark-green);
        margin-left: 8px;
      }
    }

    .flex {
      gap: 30px;
      margin: 41px auto 25px auto;
    }

    &__image {
      img {
        box-shadow: 12px 10px 5px 0px rgba(196,196,196,1);
        border-radius: 5px;
      }
    }

    &__text {
      max-width: 332px;
      color: var(--color-second-text);

      h3 {
        color: var(--color-dark);
      }

      p {
        margin-top: 30px;
        letter-spacing: 0.2px;
      }
    }

    &__faq {
      @media (max-width: 1024px) {
        margin-left: -20px;
      }
    }

    &__question-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-block: 30px;

      @media (max-width: 1024px) {
        margin-bottom: 0;
      }
    }

    &__question {
      display: flex;
      gap: 20px;
      color: var(--color-second-text);
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: text-decoration 0.5s;

      &:hover { 
        color: var(--color-primary);

        path {
          fill: var(--color-primary);
        }

        .information__answer {
          color: var(--color-dark);
        }
      }
    }

    &__answer {
      max-height: 0;
      overflow: hidden;
      font-size: 12px;
      max-width: 275px;
      line-height: 1.4;
      background-color: var(--color-light-grey);
      transition: max-height 0.7s;
    }

  }

  .best-seller {
    background-color: var(--color-light-grey);

    .container-sm {
      max-width: 1124px;
      margin-inline: auto;
      padding: 48px 38px;

      h3 {
        @media (max-width: 1024px) {
          text-align: center;
        }
      }

      .border-container {
        width: 100%;
        height: 1px;
        background-color: var(--color-border);
        margin-block: 24px;
      }
    }

    &__products {
      max-width: 1049px;
      flex-wrap: wrap;
      gap: 24px 29px;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .product__card-details {
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;
      padding: 25px;
    }

    .product__card {
      background-color: var(--color-white);
      transition: box-shadow .5s;

      @media (max-width: 768px) {
        img {
          width: 100%;
        } 
      }

      &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
      }
    }

    .card-price {
      color: var(--color-muted);
      margin-bottom: 10px;

      .card-sale-price {
        color: var(--color-dark-green);
        margin-left: 5px;
      }
    }

    .worked-with {
      padding-block: 50px;

      .flex-center {
        max-width: 1050px;
        margin-inline: auto;
        gap: 30px;
        flex-wrap: wrap;

        @media (max-width: 768px) {
          flex-direction: column;
          gap: 60px;
        }
      }
    }
  }
}
