
$animation-delay: 20s;

.shop {
  .announcement-bar {
    background-color: var(--dark-green-color);
    color: red;

    .container {
      justify-content: center;
      gap: 50px;
    }

    p {
      font-weight: 400;

      @media (max-width: 1100px) {
        font-size: 12px;
      }
    }

    .announcement {
      font-weight: 700;
    }
  }

  .navbar {
    padding: 23px 0 23px 35px;

    @media (max-width: 992px) {
      padding: 23px 35px;
    }

    &-brand {
      @media (max-width: 1100px) {
        gap: 80px;
      }
    }

    &-link-list {
      gap: 160px;

      @media (max-width: 1100px) {
        gap: 120px;
      }

      @media (max-width: 992px) {
        top: 75px;
        gap: 35px;
      }
    }

    &-list {
      gap: 15px;

      @media (max-width: 992px) {
        flex-direction: column;
        gap: 30px;
      }
    }

    .container {
      max-width: 1042px;
      margin: 0 auto;
    }

    &-icons,
    &-search {
      gap: 30px;

      @media (max-width: 1100px) {
        gap: 15px;
      }

      @media (max-width: 992px) {
        flex-direction: column;
        gap: 30px;
      }
    }

    &-login {
      @media (max-width: 992px) {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 30px;
      }

      svg {
        @media (max-width: 992px) {
          width: 27px;
          height: 28px;
        }
      }
    }

    &-search {

      svg {
        @media (max-width: 992px) {
          width: 34px;
          height: 34px; 
        }

        path {
          fill: var(--primary-color);
        }
      }

      .cart,
      .fav{
        @media (max-width: 992px) {
          display: flex;
          align-items: center;
          gap: 7px;
        }

        span {
          @media (max-width: 992px) {
            display: inline-block;
          }
        }
      }
    }
  }

  .navigation {
    background-color: var(--light-grey-color);
    padding-block: 34px;

    @media (max-width: 768px) {
      padding-block: 24px;
    }
    
    &-path {
      max-width: 1033px;
      padding-left: 35px;
      margin: 0 auto;
      gap: 15px;
      align-items: center;

      @media (max-width: 768px) {
        justify-content: center;
      }

      a {
        cursor: pointer;
      }
    }    
  }

  .product {
    background-color: var(--light-grey-color);
    padding-bottom: 48px;

    @media (max-width: 768px) {
      padding-bottom: 0;
    }

    .small-container {
      max-width: 1052px;
      gap: 30px;

      @media (max-width: 1042px) {
        flex-direction: column;
        align-items: center;
        max-width: 700px;
        padding: 48px 33px;
      }
    }

    .product-slider-container {
      position: relative;
      max-width: 506px;
      width: 100%;
      overflow: hidden;

      @media (max-width: 1042px) {
        max-width: 700px;
      }

      .product-left-icon {
        left: 40px;
        bottom: 243px;

        @media (max-width: 768px) {
          bottom: 50%;
          transform: translateY(-50%);
        }
      }

      .product-slider {
        display: flex;

        img {
          width: 100%;
          max-height: 450px;
          object-fit: cover;

          @media (max-width: 568px) {
            width: 100%;
            max-height: 250px;
          }
        }
      }

      .product-right-icon {
        right: 35px;
        bottom: 243px;

        @media (max-width: 768px) {
          bottom: 50%;
          transform: translateY(-50%);
        }
      }

      .product-slider-dots {
        gap: 19px;
        margin-top: 21px;
        cursor: pointer;

        img {
          width: 100px;
          height: 75px;
        }
      }
    }

    &-details {
      padding: 11px 24px 24px 24px;

      @media (max-width: 1042px) {
        max-width: 700px;
      }
    }

    &-review-stars {
      gap: 8px;
      margin: 12px 0 24px 0;

      .h6 {
        margin-left: 2px;
      }
    }

    &-reviews {
      color: var(--second-text-color);
    }

    &-availability {
      margin: 10px 0 32px 0;
      color: var(--second-text-color);

      span {
        color: var(--primary-color);
        margin-left: 4px;
      }
    }

    &-description {
      padding-bottom: 27px;
      color: var(--dark-grey-color);
      border-bottom: 1px solid var(--muted-color);
    }

    &-colors {
      gap: 10px;
      margin: 29px 0 67px 0;
    }

    &-color {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;

      &:nth-child(1) {
        background-color: var(--primary-color);
      }

      &:nth-child(2) {
        background-color: var(--green-color);
      }
      
      &:nth-child(3) {
        background-color: var(--orange-color);
      }
      
      &:nth-child(4) {
        background-color: var(--dark-color);
      }
    }

    &-cta {
      gap: 10px;
      align-items: center;

      .button {
        border-radius: 5px;
        text-transform: capitalize;

        @media (max-width: 1024px) {
          padding: 10px 20px;
        }
      }
    }
    .cta-svg {
      width: 40px;
      height: 40px;
      padding: 12px;
      border-radius: 50%;
      border: 1px solid var(--muted-color);
      cursor: pointer;
      transition: transform 0.8s;

      svg {
        width: 18px;
        height: 18px;
      }

      &:hover {
        background: #60afdc;
        transform: rotate(360deg);  

        path {
          fill: #fff;
        }
      }
    }
  }

  .information {

    @media (max-width: 1024px) {
      .flex {
        flex-direction: column;
        align-items: center;
        gap: 30px;
      }
    }

    &-links {
      gap: 48px;
      padding-block: 34px;
      padding-bottom: 40px;
      border-bottom: 1px solid var(--border-color);

      @media (max-width: 768px) {
        gap: 10px;
      }

      .h6 {
        color: var(--second-text-color);
      }

      span {
        color: var(--dark-green-color);
        margin-left: 8px;
      }
    }

    .flex {
      gap: 30px;
      margin: 41px auto 25px auto;
    }

    &-image {

      img {
        box-shadow: 12px 10px 5px 0px rgba(196,196,196,1);
        border-radius: 5px;
      }
    }

    &-text {
      max-width: 332px;
      color: var(--second-text-color);

      .h3 {
        color: var(--dark-color);
      }

      p {
        margin-top: 30px;
        letter-spacing: 0.2px;
      }
    }

    &-faq {
      @media (max-width: 1024px) {
        margin-left: -20px;
      }
    }

    &-question-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-block: 30px;
    }

    &-question {
      display: flex;
      gap: 20px;
      color: var(--second-text-color);
    }
  }

  .best-seller {

    background-color: var(--light-grey-color);

    .small-container {
      max-width: 1124px;
      padding: 48px 38px;

      .border-container {
        width: 100%;
        height: 1px;
        background-color: var(--border-color);
        margin-block: 24px;
      }

      .product-card-details {
        flex-direction: column;
        gap: 10px;
        padding: 25px;
      }
    }

    &-products {
      max-width: 1049px;
      flex-wrap: wrap;
      gap: 24px 29px;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .product-card {
      background-color: var(--white-color);

      @media (max-width: 768px) {
        max-width: 500px;
        width: 100%;

        img {
          width: 100%;
        } 
      }
    }

    .card-price {
      color: var(--muted-color);
      margin-bottom: 10px;

      .card-sale-price {
        color: var(--dark-green-color);
        margin-left: 5px;
      }
    }

    .worked-with {
      padding-block: 50px;

      .flex-center {
        max-width: 1050px;
        margin-inline: auto;
        gap: 30px;
        flex-wrap: wrap;

        @media (max-width: 768px) {
          flex-direction: column;
          gap: 60px;
        }
      }
    }
  }

  .footer {
    &-brand-container {
      background-color: var(--white-color);
    }

    &-brand {
      border-bottom: 1px solid var(--border-color);

      @media (max-width: 768px) {
        border: transparent;
      }
    }
  }
}
