@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

h1, .h1 {
  font-size: 58px;
  line-height: 1.6;
}

h2, .h2 {
  font-size: 40px;
  line-height: 1.25;
}

h3, .h3 {
  font-size: 24px;
  line-height: 1.33;
}

h4, .h4 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
  line-height: 1.71;
}

h1, h2, h3, h5, h6,
.h1, .h2, .h3, .h5, .h6 {
  font-weight: 700;
}

.container-lg {
  margin: 0 auto;
  max-width: var(--container-width);
}

.conatiner-sm {
  margin: 0 auto;
  max-width: var(--small-container-width);
}

img {
  max-width: 100%;
}

.hide {
  transform: translateX(0) !important;
  opacity: 1;
}

.active-link {
  font-weight: 500;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.danger-text {
  color: var(--color-danger);
}

.bg-grey {
  background-color: var(--color-light-grey);
}

:root {
  --container-width: 1440px;
  --small-container-width: 1080px;
  --container-padding: 80px 40px;
  --font-family: "Montserrat";
  --color-dark: #252B42;
  --color-green: #2DC071;
  --color-muted: #BDBDBD;
  --color-white: #FFFFFF;
  --color-hover: #2A7CC7;
  --color-orange: #E77C40;
  --color-danger: #E74040;
  --color-border: #ECECEC;
  --color-primary: #23A6F0;
  --color-faded-primary: #B2E3FF;
  --color-dark-grey: #858585;
  --color-dark-green: #23856D;
  --color-light-grey: #FAFAFA;
  --color-second-text: #737373;
  --color-active-bleu: #8EC2F2;
  --color-input-border: #E6E6E6;
  --color-container-bg: #FBFBFB;
}

body,
button,
input {
  font-family: var(--font-family);
  color: var(--color-dark);
}

p {
  font-size: 14px;
  line-height: 1.42;
}

svg {
  cursor: pointer;
  transition: all 0.5s;
}
svg:hover path {
  fill: #1877F2;
}
svg path {
  transition: all 0.5s;
}

ul {
  list-style: none;
}

ul li {
  cursor: pointer;
}

.button {
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 40px;
  border: 1px solid transparent;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
.button-green {
  background-color: var(--color-green);
  color: var(--color-white);
}
.button-green:hover {
  background-color: transparent;
  border: 1px solid #fff;
}
.button-white {
  background-color: var(--color-white);
}
.button-white:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
  color: #fff;
}
.button-blue {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.button-blue:hover {
  background-color: transparent;
  color: var(--color-dark);
  border: 1px solid var(--color-dark-grey);
}
.button-blue:hover svg path {
  fill: var(--color-dark);
}
.button-transparent {
  background-color: transparent;
  border: 1px solid transparent;
}
.button-transparent:hover {
  border: 1px solid var(--color-dark);
}
.button-dark {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.button-dark:hover {
  background-color: transparent;
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
}

.slider-paginations {
  left: 50%;
  transform: translateX(-50%);
  bottom: 49px;
  gap: 1px;
  cursor: pointer;
  z-index: 999;
}
.slider-paginations .slider-pagination {
  width: 62px;
  height: 10px;
  opacity: 0.5;
  background-color: var(--color-white);
  cursor: pointer;
  transition: opacity 0.3s;
}
.slider-paginations .slider-pagination:hover {
  opacity: 1;
}
@media (max-width: 586px) {
  .slider-paginations .slider-pagination {
    width: 45px;
  }
}
.slider-paginations .active-dot {
  opacity: 1;
}

.slider-left-arrow,
.slider-right-arrow {
  top: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 999;
  transition: all 0.5s;
}
.slider-left-arrow:hover path,
.slider-right-arrow:hover path {
  fill: var(--color-dark);
}

.slider-left-arrow {
  left: 49px;
}
@media (max-width: 768px) {
  .slider-left-arrow {
    left: 40px;
  }
}

.slider-right-arrow {
  right: 49px;
}
@media (max-width: 768px) {
  .slider-right-arrow {
    right: 31px;
  }
}

.brand {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 24px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.muted-text {
  color: var(--color-muted);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
@media (max-width: 992px) {
  .header {
    position: relative;
  }
}

.announcement-bar {
  background-color: var(--color-dark);
  padding: 10px 30px;
}
@media (max-width: 992px) {
  .announcement-bar {
    display: none;
  }
}
.announcement-bar .container-lg {
  justify-content: space-between;
}
.announcement-bar h6,
.announcement-bar a {
  color: var(--color-white);
  font-weight: 700;
}
@media (max-width: 1100px) {
  .announcement-bar h6,
  .announcement-bar a {
    font-size: 12px;
  }
}
.announcement-bar__email, .announcement-bar__tel {
  gap: 5px;
}
.announcement-bar__contact-info {
  gap: 30px;
}
.announcement-bar__socials, .announcement-bar__icons {
  gap: 15px;
}

.navbar {
  padding: 28px 30px;
  font-weight: 700;
  background-color: var(--color-white);
}
.navbar__brand {
  gap: 119px;
}
.navbar__link-list {
  gap: 15px;
  font-size: 14px;
}
.navbar__link-list a {
  position: relative;
}
.navbar__link-list a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-second-text);
  transition: width 0.3s;
}
.navbar__link-list a:hover::after {
  width: 100%;
}
.navbar__icons, .navbar__search {
  gap: 30px;
}
@media (max-width: 992px) {
  .navbar__search path {
    fill: var(--color-dark);
  }
}
.navbar__link-list {
  color: var(--color-second-text);
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in;
}
@media (max-width: 992px) {
  .navbar__link-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
    position: fixed;
    top: 75px;
    left: 0;
    font-weight: 400;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-color: var(--color-white);
    z-index: 999;
  }
}
.navbar svg {
  color: var(--color-primary);
}
@media (max-width: 992px) {
  .navbar svg {
    width: 24px;
    height: 24px;
  }
}
.navbar .cart-icon,
.navbar .fav-icon {
  align-items: center;
  gap: 5px;
  color: var(--color-primary);
  font-weight: 400;
}
@media (max-width: 992px) {
  .navbar .fav-icon {
    display: none;
  }
}
.navbar__login {
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 6px;
}
.navbar__login a::after {
  background-color: var(--color-primary);
}
.navbar__login a:hover::after {
  background-color: var(--color-primary);
}
@media (max-width: 992px) {
  .navbar__login {
    display: none;
  }
}
@media (max-width: 992px) {
  .navbar .cart-icon__item {
    display: none;
  }
}
.navbar #hamburger-icon {
  cursor: pointer;
  position: relative;
  z-index: 999;
  display: none;
}
@media (max-width: 992px) {
  .navbar #hamburger-icon {
    display: block;
  }
}

.hero .container-lg {
  width: 100%;
  max-width: 1440px;
}
.hero__slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 50rem;
  display: flex;
}
.hero__slide {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.hero__product-information {
  color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  max-width: 1044px;
  margin: 0 auto;
  padding-block: 210px;
}
@media (max-width: 1280px) {
  .hero__product-information {
    max-width: 800px;
  }
}
@media (max-width: 992px) {
  .hero__product-information {
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .hero__product-information {
    padding-inline: 40px;
    align-items: center;
    text-align: center;
  }
}
.hero__product-information p {
  font-size: 20px;
  max-width: 376px;
}
@media (max-width: 992px) {
  .hero__product-information p {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .hero__product-information p {
    max-width: 291px;
  }
}
@media (max-width: 992px) {
  .hero__product-information h1 {
    line-height: 50px;
    font-size: 40px;
  }
}
.hero img {
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero .button {
  font-size: 24px;
}
.hero__left-arrow, .hero__right-arrow {
  top: 45%;
}

.editor-pick {
  background-color: var(--color-container-bg);
  padding: var(--container-padding);
}
.editor-pick .container-sm {
  text-align: center;
}
.editor-pick h3 {
  color: var(--color-dark);
}
.editor-pick p {
  margin: 10px auto 48px auto;
  color: var(--color-second-text);
}
.editor-pick__category {
  gap: 30px;
}
@media (max-width: 768px) {
  .editor-pick__category {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 324px;
    margin: 0 auto;
    width: 100%;
  }
}
.editor-pick img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
.editor-pick .button {
  font-size: 16px;
}
.editor-pick .category__3 {
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 240px;
}
@media (max-width: 768px) {
  .editor-pick .category__3 {
    max-width: 325px;
  }
}
.editor-pick .category__3 img {
  width: 240px;
}
@media (max-width: 768px) {
  .editor-pick .category__3 img {
    width: 100%;
  }
}
.editor-pick .category__men .button {
  bottom: 26px;
  left: 31px;
  padding: 12px 66px;
}
.editor-pick .category__women .button {
  bottom: 23px;
  left: 14px;
  padding: 12px 33px;
}
.editor-pick .category__accessories .button {
  bottom: 18px;
  left: 18px;
  padding: 12px 26px;
}
@media (max-width: 992px) {
  .editor-pick .category__accessories .button {
    padding: 8px;
    left: 10px;
  }
}
@media (max-width: 768px) {
  .editor-pick .category__accessories .button {
    padding: 12px 26px;
    left: 18px;
  }
}
.editor-pick .category__kids .button {
  bottom: 18px;
  left: 18px;
  padding: 12px 40px;
}
.editor-pick .category__men, .editor-pick .category__women, .editor-pick .category__accessories, .editor-pick .category__kids {
  overflow: hidden;
}
.editor-pick .category__men img, .editor-pick .category__women img, .editor-pick .category__accessories img, .editor-pick .category__kids img {
  transition: transform 0.5s linear;
}
.editor-pick .category__men:hover img, .editor-pick .category__women:hover img, .editor-pick .category__accessories:hover img, .editor-pick .category__kids:hover img {
  transform: scale(1.05);
}

.featured {
  padding: var(--container-padding);
}
.featured .container-sm {
  text-align: center;
  max-width: 1124px;
  margin: 0 auto;
}
.featured__heading {
  flex-direction: column;
  gap: 10px;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .featured__heading {
    max-width: 261px;
    margin: 48px auto;
  }
}
.featured__heading .h3 {
  color: var(--color-dark);
}
.featured__heading .h4,
.featured__heading p {
  color: var(--color-second-text);
}
.featured__cards {
  gap: 80px 30px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .featured__cards {
    max-width: 328px;
    margin: 0 auto;
  }
}
.featured__card {
  max-width: 239px;
  cursor: pointer;
  padding-bottom: 40px;
  overflow: hidden;
  transition: box-shadow 0.7s;
}
@media (max-width: 768px) {
  .featured__card {
    max-width: 328px;
    width: 100%;
  }
}
.featured__card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.featured__card:hover img {
  transform: scale(1.03);
}
.featured__card img {
  height: 427px;
  transition: transform 0.2s ease-in;
}
.featured__card .h5 {
  color: var(--color-dark);
}
.featured__card p {
  font-weight: 700;
  color: var(--color-second-text);
}
.featured .card-information {
  margin-top: 25px;
  flex-direction: column;
  gap: 10px;
}
.featured .card-price {
  color: var(--color-muted);
}
.featured .card-sale-price {
  color: var(--color-dark-green);
}
.featured .card-colors {
  gap: 6px;
  justify-content: center;
}
.featured .card-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}
.featured .card1 {
  background-color: var(--color-primary);
}
.featured .card2 {
  background-color: var(--color-dark-green);
}
.featured .card3 {
  background-color: var(--color-orange);
}
.featured .card4 {
  background-color: var(--color-dark);
}

.classic-product {
  background-color: var(--color-dark-green);
  color: var(--color-white);
  overflow: hidden;
}
.classic-product__slider {
  margin: 0 auto;
  max-width: 1080px;
  position: relative;
  width: 100%;
  margin-bottom: -50px;
  height: 50rem;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .classic-product__slider {
    height: 76rem;
    margin-bottom: -90px;
  }
}
.classic-product__slide {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.classic-product__slide-content {
  justify-content: space-between;
  display: flex;
  max-width: 1036px;
  padding-top: 160px;
}
@media (max-width: 1024px) {
  .classic-product__slide-content {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
  }
}
.classic-product__information {
  max-width: 509px;
  flex-direction: column;
  gap: 30px;
  margin-top: 60px;
}
@media (max-width: 1280px) {
  .classic-product__information {
    max-width: 400px;
    padding-top: 48px;
  }
}
@media (max-width: 1024px) {
  .classic-product__information {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .classic-product__information {
    max-width: 90%;
    width: 100%;
    text-align: center;
  }
}
.classic-product__information .h1 {
  font-weight: 700;
}
@media (max-width: 768px) {
  .classic-product__information .h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
.classic-product__paragraph {
  max-width: 341px;
}
@media (max-width: 1024px) {
  .classic-product__paragraph {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .classic-product__paragraph {
    font-size: 20px;
    max-width: 80%;
    line-height: 30px;
  }
}
.classic-product__button-container {
  gap: 34px;
  align-items: center;
}
@media (max-width: 1024px) {
  .classic-product__button-container {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .classic-product__button-container {
    gap: 20px;
    flex-direction: column;
  }
}
.classic-product__button-container .button {
  font-size: 14px;
  padding: 15px 40px;
}
.classic-product__image {
  max-width: 510px;
  width: 100%;
  margin-bottom: -5px;
}
@media (max-width: 1024px) {
  .classic-product .slider-pagination {
    display: none;
  }
}

.featured-post {
  padding: var(--container-padding);
  padding-top: 112px;
}
.featured-post .container-sm {
  text-align: center;
}
.featured-post .container-sm .h6 {
  color: var(--color-primary);
}
.featured-post__paragraph {
  max-width: 469px;
  margin: 0 auto;
  color: var(--color-second-text);
}
.featured-post__information {
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 786px) {
  .featured-post__information {
    margin-bottom: 80px;
    max-width: 300px;
    margin: 0 auto 80px auto;
  }
}
.featured-post__information .h2 {
  color: var(--color-dark);
}
.featured-post__cards {
  margin-top: 80px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 786px) {
  .featured-post__cards {
    flex-direction: column;
    gap: 30px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
}
.featured-post__card {
  text-align: left;
  max-width: 348px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 0;
  position: relative;
}
@media (max-width: 786px) {
  .featured-post__card {
    max-width: 100%;
    width: 100%;
  }
}
.featured-post__card .card-label {
  padding: 5px 10px;
  top: 20px;
  left: 20px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  color: var(--color-white);
  text-transform: uppercase;
  background-color: var(--color-danger);
}
.featured-post__card img {
  width: 348px;
  height: 300px;
}
@media (max-width: 786px) {
  .featured-post__card img {
    width: 100%;
    height: 100%;
  }
}
.featured-post__card .h4 {
  color: var(--color-dark);
}
.featured-post__card p {
  color: var(--color-second-text);
}
.featured-post__card .active {
  color: var(--color-active-blue);
}
.featured-post .card-information {
  flex-direction: column;
  gap: 10px;
  padding: 25px;
}
@media (max-width: 786px) {
  .featured-post .card-information {
    margin-top: 0;
  }
}
.featured-post .card-information p {
  max-width: 280px;
}
.featured-post .information__categories {
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}
.featured-post .button {
  padding: 5px 10px 5px 0;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 10px;
  max-width: 150px;
  color: var(--color-second-text);
  border-radius: 5px;
  max-width: 130px;
  transition: all 0.4s;
}
.featured-post .button:hover {
  color: var(--primary-color);
  border: 1px solid transparent;
}
.featured-post .button:hover svg {
  transform: translateX(10px);
}
.featured-post__timing {
  justify-content: space-between;
  align-items: center;
  margin-block: 15px;
}
.featured-post__timing .timing_date,
.featured-post__timing .timing_comment {
  align-items: center;
  gap: 5px;
}

.neural-universe .container-lg {
  max-width: 1154px;
  gap: 30px;
  align-items: center;
}
@media (max-width: 1024px) {
  .neural-universe .container-lg {
    flex-direction: column-reverse;
    padding-top: 120px;
    text-align: center;
  }
}
.neural-universe .container-lg picture {
  max-width: 704px;
  width: 100%;
}
.neural-universe__information {
  flex-direction: column;
  gap: 30px;
  max-width: 375px;
}
.neural-universe__information h2 {
  color: var(--color-dark);
}
.neural-universe__information h5 {
  color: var(--color-muted);
}
.neural-universe__information p {
  color: var(--color-second-text);
}
@media (max-width: 768px) {
  .neural-universe__buttons {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
}
.neural-universe__buttons .button-white {
  border-radius: 5px;
  margin-left: 10px;
  color: var(--color-green);
  border: 1px solid var(--color-green);
}
.neural-universe__buttons .button-white:hover {
  color: var(--color-white);
  background-color: var(--color-green);
}
@media (max-width: 768px) {
  .neural-universe__buttons .button-white {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }
  .neural-universe__buttons .button-white:hover {
    background-color: var(--color-primary);
  }
}
.neural-universe__buttons .button-green:hover {
  color: var(--color-green);
  border: 1px solid var(--color-green);
  background-color: transparent;
}
@media (max-width: 768px) {
  .neural-universe__buttons .button-green {
    background-color: var(--color-primary);
  }
  .neural-universe__buttons .button-green:hover {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }
}

.footer .h3 {
  color: var(--color-dark);
}
.footer__brand, .footer__copyright {
  background-color: var(--color-light-grey);
  padding-inline: 24px;
}
@media (max-width: 768px) {
  .footer__brand, .footer__copyright {
    padding-inline: 46px;
  }
}
.footer__navs {
  padding: 50px 24px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1098px;
  margin-inline: auto;
}
@media (max-width: 768px) {
  .footer__navs {
    flex-direction: column;
    padding-inline: 46px;
  }
}
.footer__nav {
  flex-direction: column;
  gap: 10px;
  color: var(--color-second-text);
  font-size: 14px;
  font-weight: 700;
}
.footer__nav a {
  position: relative;
}
.footer__nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-second-text);
  transition: width 0.3s;
}
.footer__nav a:hover::after {
  width: 100%;
}
.footer__copyright .container-sm {
  color: var(--color-second-text);
  padding-block: 25px;
  max-width: 1050px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .footer__copyright {
    text-align: center;
    max-width: 413px;
    margin: 0 auto;
  }
}
.footer__brand, .footer__icons {
  justify-content: space-between;
  align-items: center;
}
.footer__brand .container-sm {
  padding-block: 40px;
  max-width: 1050px;
  margin-inline: auto;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__brand .container-sm {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}
.footer__icons {
  gap: 20px;
  margin-right: 62px;
}
.footer__icons button {
  position: relative;
}
.footer__icons button:hover::before {
  transform: translateY(-35px);
  opacity: 1;
}
.footer__icons button:hover path {
  fill: var(--color-social);
}
.footer__icons button::before {
  content: attr(data-social);
  position: absolute;
  left: -30px;
  font-size: 12px;
  background-color: var(--color-social);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--color-white);
  font-weight: 700;
  opacity: 0;
  transition: all 0.5s;
}
.footer__icons button:last-child::before {
  left: -20px;
}
.footer .h5 {
  margin-bottom: 20px;
}
.footer__cta,
.footer .cta-links {
  max-width: 321px;
  width: 100%;
}
.footer__cta p,
.footer .cta-links p {
  font-size: 12px;
  color: var(--color-second-text);
  line-height: 2.33;
}
.footer input {
  max-width: 321px;
  width: 100%;
  padding: 15px;
  border: 1px solid var(--color-input-border);
  border-radius: 5px;
  background-color: #F9F9F9;
}
.footer .relative button:hover {
  border: 1px solid var(--color-input-border);
}
.footer .button {
  padding: 15px 22px;
  border-radius: 0 5px 5px 0;
  right: 0;
}

.product-page .announcement-bar {
  background-color: var(--color-dark-green);
}
.product-page .announcement-bar .container-lg {
  justify-content: center;
  max-width: 1128px;
  padding-inline: 54px;
  gap: 50px;
}
.product-page .announcement-bar a {
  font-weight: 400;
  font-size: 12px;
}
.product-page .announcement-bar p {
  font-weight: 700;
  color: var(--color-white);
}
@media (max-width: 1100px) {
  .product-page .announcement-bar p {
    font-size: 10px;
  }
}
.product-page .announcement-bar h6 {
  font-weight: 700;
}
.product-page .announcement-bar svg:hover path {
  fill: var(--color-dark) !important;
}
.product-page .navbar {
  background-color: var(--color-white);
}
@media (max-width: 992px) {
  .product-page .navbar {
    padding: 23px 35px;
  }
}
.product-page .navbar .container-lg {
  max-width: 1050px;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .product-page .navbar .container-lg {
    justify-content: space-around;
  }
}
@media (max-width: 992px) {
  .product-page .navbar .container-lg {
    justify-content: space-between;
  }
}
.product-page .navbar__brand {
  gap: 119px;
}
@media (max-width: 1100px) {
  .product-page .navbar__brand {
    gap: 80px;
  }
}
.product-page .navbar__link-list {
  gap: 125px;
}
@media (max-width: 1200px) {
  .product-page .navbar__link-list {
    gap: 150px;
  }
}
@media (max-width: 992px) {
  .product-page .navbar__link-list {
    padding-top: 81px;
    position: fixed;
    left: 0;
    top: 75px;
    background-color: var(--color-white);
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    font-size: 30px;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 999;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in;
  }
}
.product-page .navbar ul {
  gap: 15px;
}
@media (max-width: 992px) {
  .product-page .navbar ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
    font-weight: 400;
  }
}
.product-page .navbar__icons, .product-page .navbar__search {
  gap: 30px;
}
@media (max-width: 1100px) {
  .product-page .navbar__icons, .product-page .navbar__search {
    gap: 15px;
  }
}
@media (max-width: 992px) {
  .product-page .navbar__icons, .product-page .navbar__search {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 992px) {
  .product-page .navbar__icons svg, .product-page .navbar__search svg {
    height: 34px;
    width: 34px;
  }
}
.product-page .navbar__icons svg path, .product-page .navbar__search svg path {
  fill: var(--color-primary);
}
.product-page .navbar__icons .cart-icon,
.product-page .navbar__icons .fav-icon, .product-page .navbar__search .cart-icon,
.product-page .navbar__search .fav-icon {
  display: flex;
  align-items: center;
  gap: 7px;
}
.product-page .navbar__icons .cart-icon span,
.product-page .navbar__icons .fav-icon span, .product-page .navbar__search .cart-icon span,
.product-page .navbar__search .fav-icon span {
  display: inline-block;
  font-size: 12px;
}
.product-page .navbar__login {
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 6px;
}
@media (max-width: 992px) {
  .product-page .navbar__login svg {
    width: 27px;
    height: 28px;
  }
  .product-page .navbar__login svg path {
    fill: var(--color-primary);
  }
}
.product-page .navbar #hamburger-icon {
  cursor: pointer;
  position: relative;
  z-index: 999;
  display: none;
}
@media (max-width: 992px) {
  .product-page .navbar #hamburger-icon {
    display: block;
  }
}
.product-page .navbar svg {
  color: var(--color-primary);
}
@media (max-width: 992px) {
  .product-page .navbar svg {
    width: 24px;
    height: 24px;
  }
}
.product-page .navigation {
  background-color: var(--color-light-grey);
}
.product-page .navigation .container-lg {
  padding: 34px 30px 34px 30px;
  max-width: 1090px;
  margin-inline: auto;
}
@media (max-width: 992px) {
  .product-page .navigation .container-lg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.product-page .navigation-path {
  gap: 15px;
  align-items: center;
}
@media (max-width: 768px) {
  .product-page .navigation-path {
    justify-content: center;
  }
}
.product-page .navigation-path a {
  cursor: pointer;
}
.product-page .product {
  background-color: var(--color-light-grey);
  padding: 0 30px 48px 30px;
}
@media (max-width: 768px) {
  .product-page .product {
    padding-bottom: 0;
  }
}
.product-page .product .container-sm {
  max-width: 1052px;
  margin-inline: auto;
  gap: 54px;
}
@media (max-width: 1042px) {
  .product-page .product .container-sm {
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin-inline: auto;
    padding: 48px 33px;
  }
}
.product-page .product .product-slider-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 40rem;
  display: flex;
}
@media (max-width: 1042px) {
  .product-page .product .product-slider-container {
    max-width: 700px;
  }
}
.product-page .product .product-slider-container .product-slider {
  display: flex;
  height: 450px;
  position: absolute;
  width: 100%;
  transition: transform 1s ease;
}
.product-page .product .product-slider-container .product-slider img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
@media (max-width: 568px) {
  .product-page .product .product-slider-container .product-slider img {
    width: 100%;
    max-height: 250px;
  }
}
.product-page .product .product-slider-container .product-left-icon {
  position: absolute;
  left: 40px;
  bottom: 243px;
}
@media (max-width: 768px) {
  .product-page .product .product-slider-container .product-left-icon {
    bottom: 50%;
    transform: translateY(-50%);
  }
}
.product-page .product .product-slider-container .product-right-icon {
  position: absolute;
  right: 35px;
  bottom: 243px;
}
@media (max-width: 768px) {
  .product-page .product .product-slider-container .product-right-icon {
    bottom: 50%;
    transform: translateY(-50%);
  }
}
.product-page .product .product-slider-container .product-slider-dots {
  display: flex;
  gap: 19px;
  margin-top: 21px;
  cursor: pointer;
}
.product-page .product .product-slider-container .product-slider-dots img {
  width: 100px;
  height: 75px;
}
@media (max-width: 1042px) {
  .product-page .product-details {
    max-width: 700px;
  }
}
.product-page .product-review-stars {
  gap: 8px;
  margin: 12px 0 24px 0;
}
.product-page .product-review-stars .h6 {
  margin-left: 2px;
}
.product-page .product-reviews {
  color: var(--color-second-text);
}
.product-page .product-availability {
  margin: 10px 0 32px 0;
  color: var(--color-second-text);
}
.product-page .product-availability span {
  color: var(--color-primary);
  margin-left: 4px;
}
.product-page .product-description {
  padding-bottom: 27px;
  color: var(--color-dark-grey);
  border-bottom: 1px solid var(--color-muted);
}
.product-page .product-colors {
  gap: 10px;
  margin: 29px 0 67px 0;
}
.product-page .product-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.product-page .product-color:nth-child(1) {
  background-color: var(--color-primary);
}
.product-page .product-color:nth-child(2) {
  background-color: var(--color-green);
}
.product-page .product-color:nth-child(3) {
  background-color: var(--color-orange);
}
.product-page .product-color:nth-child(4) {
  background-color: var(--color-dark);
}
.product-page .product-cta {
  gap: 10px;
  align-items: center;
}
.product-page .product-cta .button {
  border-radius: 5px;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .product-page .product-cta .button {
    padding: 10px 20px;
  }
}
.product-page .product .cta-svg {
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  border: 1px solid var(--color-muted);
  cursor: pointer;
  transition: transform 0.8s;
}
.product-page .product .cta-svg svg {
  width: 18px;
  height: 18px;
}
.product-page .product .cta-svg:hover {
  background: #60afdc;
  transform: scale(0.9);
}
.product-page .product .cta-svg:hover path {
  fill: #fff;
}
.product-page .information .flex {
  justify-content: center;
  flex-wrap: wrap;
  padding-inline: 30px;
}
@media (max-width: 1024px) {
  .product-page .information .flex {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.product-page .information__links {
  gap: 48px;
  flex-wrap: wrap;
  padding-block: 34px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-border);
}
@media (max-width: 768px) {
  .product-page .information__links {
    gap: 10px;
    flex-direction: column;
  }
}
.product-page .information__links .h6 {
  color: var(--color-second-text);
}
.product-page .information__links span {
  color: var(--color-dark-green);
  margin-left: 8px;
}
.product-page .information .flex {
  gap: 30px;
  margin: 41px auto 25px auto;
}
.product-page .information__image img {
  box-shadow: 12px 10px 5px 0px rgb(196, 196, 196);
  border-radius: 5px;
}
.product-page .information__text {
  max-width: 332px;
  color: var(--color-second-text);
}
.product-page .information__text h3 {
  color: var(--color-dark);
}
.product-page .information__text p {
  margin-top: 30px;
  letter-spacing: 0.2px;
}
@media (max-width: 1024px) {
  .product-page .information__faq {
    margin-left: -20px;
  }
}
.product-page .information__question-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 30px;
}
@media (max-width: 1024px) {
  .product-page .information__question-container {
    margin-bottom: 0;
  }
}
.product-page .information__question {
  display: flex;
  gap: 20px;
  color: var(--color-second-text);
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  transition: -webkit-text-decoration 0.5s;
  transition: text-decoration 0.5s;
  transition: text-decoration 0.5s, -webkit-text-decoration 0.5s;
}
.product-page .information__question:hover {
  color: var(--color-primary);
}
.product-page .information__question:hover path {
  fill: var(--color-primary);
}
.product-page .information__question:hover .information__answer {
  color: var(--color-dark);
}
.product-page .information__answer {
  max-height: 0;
  overflow: hidden;
  font-size: 12px;
  max-width: 275px;
  line-height: 1.4;
  background-color: var(--color-light-grey);
  transition: max-height 0.7s;
}
.product-page .best-seller {
  background-color: var(--color-light-grey);
}
.product-page .best-seller .container-sm {
  max-width: 1124px;
  margin-inline: auto;
  padding: 48px 38px;
}
@media (max-width: 1024px) {
  .product-page .best-seller .container-sm h3 {
    text-align: center;
  }
}
.product-page .best-seller .container-sm .border-container {
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
  margin-block: 24px;
}
.product-page .best-seller__products {
  max-width: 1049px;
  flex-wrap: wrap;
  gap: 24px 29px;
}
@media (max-width: 768px) {
  .product-page .best-seller__products {
    flex-direction: column;
  }
}
.product-page .best-seller .product__card-details {
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding: 25px;
}
.product-page .best-seller .product__card {
  background-color: var(--color-white);
  transition: box-shadow 0.5s;
}
@media (max-width: 768px) {
  .product-page .best-seller .product__card img {
    width: 100%;
  }
}
.product-page .best-seller .product__card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.product-page .best-seller .card-price {
  color: var(--color-muted);
  margin-bottom: 10px;
}
.product-page .best-seller .card-price .card-sale-price {
  color: var(--color-dark-green);
  margin-left: 5px;
}
.product-page .best-seller .worked-with {
  padding-block: 50px;
}
.product-page .best-seller .worked-with .flex-center {
  max-width: 1050px;
  margin-inline: auto;
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .product-page .best-seller .worked-with .flex-center {
    flex-direction: column;
    gap: 60px;
  }
}

.product-list .announcement-bar {
  background-color: var(--color-dark-green);
}
.product-list .announcement-bar .container-lg {
  max-width: 1128px;
  gap: 50px;
  justify-content: center;
  padding-inline: 54px;
}
.product-list .announcement-bar span {
  font-weight: 400;
  font-size: 12px;
}
.product-list .announcement-bar p {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
}
.product-list .announcement-bar svg:hover path {
  fill: var(--color-dark);
}
.product-list .navbar__brand {
  max-width: 1112px;
  padding-inline: 35px;
  margin-inline: auto;
}
@media (max-width: 992px) {
  .product-list .navbar__brand {
    padding: 0;
    margin: 0;
  }
}
.product-list .navbar__link-list {
  gap: 140px;
}
@media (max-width: 992px) {
  .product-list .navbar__link-list {
    gap: 21px;
  }
}
.product-list .navbar__link-list ul {
  gap: 15px;
}
@media (max-width: 992px) {
  .product-list .navbar__link-list ul {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 992px) {
  .product-list .navbar__icons {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .product-list .navbar__icons svg {
    width: 34px;
    height: 34px;
  }
}
@media (max-width: 992px) {
  .product-list .navbar__icons svg path {
    fill: var(--color-primary);
  }
}
@media (max-width: 992px) {
  .product-list .navbar__login,
  .product-list .navbar .cart-icon__item,
  .product-list .navbar .fav-icon__item,
  .product-list .navbar .fav-icon {
    display: inline-block;
  }
}
@media (max-width: 992px) {
  .product-list .navbar .cart-icon__item,
  .product-list .navbar .fav-icon__item {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .product-list .navbar__search {
    flex-direction: column;
  }
}
.product-list .navigation-w-categories {
  background-color: var(--color-light-grey);
}
.product-list .navigation-w-categories__path-container {
  max-width: 1070px;
  margin-inline: auto;
  padding: 30px 35px;
}
@media (max-width: 768px) {
  .product-list .navigation-w-categories__path-container {
    flex-direction: column;
    gap: 54px;
  }
}
.product-list .navigation-w-categories__path {
  gap: 15px;
  cursor: pointer;
}
.product-list .navigation-w-categories__categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 48px;
}
@media (max-width: 768px) {
  .product-list .navigation-w-categories__categories {
    flex-direction: column;
    align-items: center;
  }
}
.product-list .navigation-w-categories__categories .category {
  cursor: pointer;
}
.product-list .navigation-w-categories__categories .category:hover img {
  border-radius: 10px;
  transform: scale(1.05);
}
.product-list .navigation-w-categories__categories .category img {
  transition: all 0.6s;
}
.product-list .navigation-w-categories__categories .category .category__information {
  color: var(--color-white);
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (max-width: 992px) {
  .product-list .navigation-w-categories__categories .category .category__information {
    gap: 30px;
  }
}
.product-list .filter-category .container-sm {
  padding-block: 37px;
  max-width: 1050px;
  margin: 0 auto;
  color: var(--color-second-text);
}
@media (max-width: 1024px) {
  .product-list .filter-category .container-sm {
    flex-direction: column;
    gap: 24px;
  }
}
.product-list .filter-category .container-sm .btn-group {
  gap: 15px;
}
.product-list .filter-category .container-sm .btn-group button {
  padding: 15px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  cursor: pointer;
}
.product-list .filter-category .container-sm .btn-group button svg path {
  transition: all 0.6s;
}
.product-list .filter-category .container-sm .btn-group button:hover svg path {
  fill: var(--color-primary);
}
.product-list .filter-category .container-sm .filter-option-w-button {
  gap: 15px;
}
.product-list .filter-category .container-sm .filter-option-w-button select {
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 11px 18px;
  font-size: 14px;
  color: inherit;
  cursor: pointer;
  transition: all 1s;
}
.product-list .filter-category .container-sm .filter-option-w-button select:hover {
  border: 1px solid var(--color-dark);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.product-list .filter-category .container-sm .filter-option-w-button select .flex {
  justify-content: center;
  align-items: center;
  gap: 0;
}
.product-list .filter-category .container-sm .filter-option-w-button .button-blue {
  border-radius: 5px;
  padding: 11px 27px;
}
.product-list .filter-category__products {
  max-width: 1124px;
  margin: 0 auto;
  gap: 30px;
  padding-inline: 38px;
  flex-wrap: wrap;
}
.product-list .filter-category .product__card {
  cursor: pointer;
  transition: all 0.6s;
  border-radius: 5px;
}
.product-list .filter-category .product__card img {
  transition: all 0.6s;
}
.product-list .filter-category .product__card:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product-list .filter-category .product__card:hover img {
  transform: scale(1.02);
  border-radius: 5px;
}
.product-list .filter-category .product__information {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 25px 0 35px 0;
}
.product-list .filter-category .product__price {
  color: var(--muted-color);
}
.product-list .filter-category .product__sale-price {
  color: var(--color-dark-green);
  margin-left: 5px;
}
.product-list .filter-category .product__colors {
  gap: 7px;
}
.product-list .filter-category .product__color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.product-list .filter-category .color1 {
  background-color: var(--color-primary);
}
.product-list .filter-category .color2 {
  background-color: var(--color-dark-green);
}
.product-list .filter-category .color3 {
  background-color: var(--orange-color);
}
.product-list .filter-category .color4 {
  background-color: var(--color-dark-green);
}
.product-list .filter-category__pagination {
  max-width: 313px;
  margin: 48px auto;
}
.product-list .filter-category__pagination button {
  padding: 25px;
  font-weight: 700;
  border: 1px solid var(--color-border);
  color: var(--color-primary);
  cursor: pointer;
  transition: all 1s;
}
.product-list .filter-category__pagination button:not(.button-disabled):hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.product-list .filter-category__pagination #pagination__first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.product-list .filter-category__pagination #pagination__next {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.product-list .filter-category__pagination .button-disabled {
  background-color: var(--color-light-grey);
  color: #bdbdbd;
}
.product-list .filter-category .pagination__numbers {
  counter-reset: pagination-number;
  cursor: pointer;
}
.product-list .filter-category .pagination__number {
  padding: 25px 20px;
  font-weight: 700;
  color: var(--color-primary);
  border: 1px solid var(--color-border);
  counter-increment: pagination-number;
  transition: all 1s;
}
.product-list .filter-category .pagination__number:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.product-list .filter-category .pagination__number::before {
  content: counter(pagination-number);
}
.product-list .filter-category .active-page-number {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.product-list .filter-category .worked-with {
  background-color: var(--color-light-grey);
  padding-block: 58px;
}
.product-list .filter-category .worked-with .companies-container {
  flex-wrap: wrap;
  row-gap: 60px;
}
@media (max-width: 768px) {
  .product-list .filter-category .worked-with .companies-container {
    flex-direction: column;
  }
}

.footer__brand-container .container-sm {
  max-width: 1050px;
  margin: 0 auto;
  padding-block: 53px;
  border-bottom: 1px solid var(--color-border);
  justify-content: space-between;
}
@media (max-width: 992px) {
  .footer__brand-container .container-sm {
    padding-inline: 24px;
  }
}
@media (max-width: 768px) {
  .footer__brand-container .container-sm {
    border: none;
    flex-direction: column;
    gap: 24px;
    padding-inline: 46px;
  }
}
.footer__copyright-container {
  background-color: var(--color-light-grey);
}
.footer__copyright-text {
  max-width: 1050px;
  margin: 0 auto;
  padding: 40px 0;
  border-bottom: 1px solid var(--color-border);
}
@media (max-width: 992px) {
  .footer__copyright-text {
    padding-inline: 24px;
  }
}
@media (max-width: 768px) {
  .footer__copyright-text {
    gap: 24px;
    border: none;
    text-align: center;
    padding-inline: 46px;
    flex-direction: column;
  }
}
.footer__icons {
  justify-content: flex-start;
  gap: 20px;
}

.about-us .header {
  position: relative;
}
.about-us .navbar .container-lg {
  max-width: 1050px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .about-us .navbar__link-list {
    background-color: #f6f6f6;
    top: 85px;
  }
}
.about-us .navbar__icons {
  display: none;
}
@media (max-width: 992px) {
  .about-us .navbar__icons {
    display: block;
  }
}
@media (max-width: 992px) {
  .about-us .navbar__buttons {
    display: none;
  }
}
.about-us .navbar__buttons .button-blue {
  padding: 15px 25px;
  display: inline-flex;
  align-items: center;
  gap: 15px;
}
.about-us .navbar__buttons .button-transparent {
  color: var(--color-primary);
}
.about-us .navbar__buttons .button-transparent:hover {
  color: var(--color-dark);
}
.about-us .hero {
  padding-inline: 24px;
}
.about-us .hero .container-lg {
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .about-us .hero .container-lg {
    flex-direction: column;
  }
}
.about-us .hero__product-information {
  color: var(--color-dark);
  margin: 0;
  padding: 0;
}
@media (max-width: 992px) {
  .about-us .hero__product-information {
    padding-block: 144px;
    align-items: center;
  }
  .about-us .hero__product-information h5 {
    display: none;
  }
  .about-us .hero__product-information p {
    text-align: center;
  }
}
.about-us .hero__product-information .button-blue {
  font-size: 14px;
}
.about-us .hero__image-container {
  max-width: 632px;
  margin-right: -120px;
}
@media (max-width: 1280px) {
  .about-us .hero__image-container {
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .about-us .hero__image-container {
    margin: 0;
  }
}
.about-us .information {
  padding-inline: 30px;
}
.about-us .information .container-sm {
  max-width: 1018px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  gap: 60px;
  padding-block: 48px;
}
@media (max-width: 992px) {
  .about-us .information .container-sm {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .about-us .information .container-sm {
    gap: 84px;
  }
  .about-us .information .container-sm .danger-text,
  .about-us .information .container-sm h3 {
    text-align: center;
    padding-inline: 30px;
  }
}
.about-us .information__left {
  max-width: 400px;
}
.about-us .information__left .danger-text {
  margin-bottom: 24px;
}
.about-us .information__right {
  max-width: 540px;
}
.about-us .stats {
  padding-inline: 24px;
}
.about-us .stats .container-sm {
  max-width: 1050px;
  margin: 0 auto;
  gap: 120px;
  justify-content: space-evenly;
  padding-block: 80px;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .about-us .stats .container-sm {
    flex-direction: column;
  }
}
.about-us .stats__customer-count, .about-us .stats__visitor-count, .about-us .stats__countries-count, .about-us .stats__partners-count {
  flex-direction: column;
}
.about-us .stats__customer-count .h1, .about-us .stats__visitor-count .h1, .about-us .stats__countries-count .h1, .about-us .stats__partners-count .h1 {
  color: var(--color-dark);
  font-weight: 700;
}
.about-us .video-information .container-sm {
  max-width: 1050px;
  margin: 0 auto;
  padding: 112px 30px;
  border-radius: 5px;
}
.about-us .companies {
  background-color: var(--color-light-grey);
}
.about-us .companies .container-sm {
  flex-direction: column;
  padding-block: 80px;
  gap: 30px;
  max-width: 1050px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .about-us .companies .container-sm {
    padding-inline: 41px;
  }
  .about-us .companies .container-sm h2,
  .about-us .companies .container-sm p {
    text-align: center;
    padding-inline: 10px;
  }
}
.about-us .companies .container-sm p {
  max-width: 547px;
  text-align: center;
}
.about-us .companies .worked-with {
  padding-block: 50px;
}
.about-us .companies .companies-container {
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 768px) {
  .about-us .companies .companies-container {
    flex-direction: column;
    gap: 60px;
  }
}
.about-us .team .container-sm {
  max-width: 1050px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .about-us .team .container-sm {
    padding-inline: 43px;
  }
}
.about-us .team__introduction {
  max-width: 607px;
  text-align: center;
  margin: 0 auto;
  padding-block: 112px;
}
@media (max-width: 768px) {
  .about-us .team__introduction {
    padding-inline: 13px;
    padding-block: 45px;
  }
}
.about-us .team__introduction p {
  margin-top: 10px;
}
.about-us .team .team__members {
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 112px;
}
@media (max-width: 768px) {
  .about-us .team .team__members {
    flex-direction: column;
  }
}
.about-us .team .team__member {
  transition: all 0.6s;
  overflow: hidden;
}
.about-us .team .team__member img {
  transition: all 0.8s;
}
.about-us .team .team__member:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.about-us .team .team__member:hover img {
  transform: scale(1.05);
}
.about-us .team .member__detail {
  flex-direction: column;
  gap: 10px;
  padding-block: 30px;
}
.about-us .team .member__detail p {
  color: var(--color-second-text);
}
.about-us .team .member__socials {
  gap: 20px;
}
.about-us .text-w-media {
  background-color: var(--color-hover);
}
.about-us .text-w-media .container-sm {
  max-width: 1440px;
  margin: 0 auto;
  color: var(--white-color);
  justify-content: flex-end;
  align-items: center;
  gap: 195px;
}
@media (max-width: 1280px) {
  .about-us .text-w-media .container-sm {
    gap: 100px;
  }
}
@media (max-width: 1140px) {
  .about-us .text-w-media .container-sm {
    gap: 50px;
  }
}
@media (max-width: 992px) {
  .about-us .text-w-media .container-sm {
    justify-content: center;
    align-items: center;
    padding: 100px 46px;
  }
}
.about-us .text-w-media .container-sm img {
  height: 100%;
}
.about-us .text-w-media__text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  max-width: 460px;
}
@media (max-width: 992px) {
  .about-us .text-w-media__text {
    align-items: center;
    text-align: center;
  }
}
.about-us .text-w-media__text .button {
  color: var(--color-white);
  border: 1px solid var(--color-light-grey);
}
.about-us .text-w-media__image {
  max-width: 590px;
  align-self: stretch;
}
.about-us .text-w-media__image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .about-us .text-w-media__image {
    display: none;
  }
}

.blog .featured-post {
  max-width: 1050px;
  padding: 160px 40px;
  margin-inline: auto;
}
.blog .featured-post__cards {
  gap: 80px 30px;
}
.blog .featured-post__card {
  max-width: 470px;
  width: 100%;
}
.blog .featured-post img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pricing .navbar .container-lg {
  max-width: 1050px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .pricing .navbar__link-list {
    background-color: #f6f6f6;
    top: 85px;
  }
}
.pricing .navbar__icons {
  display: none;
}
@media (max-width: 992px) {
  .pricing .navbar__icons {
    display: block;
  }
}
@media (max-width: 992px) {
  .pricing .navbar__buttons {
    display: none;
  }
}
.pricing .navbar__buttons .button-blue {
  padding: 15px 25px;
  display: inline-flex;
  align-items: center;
  gap: 15px;
}
.pricing .navbar__buttons .button-transparent {
  color: var(--color-primary);
}
.pricing .navbar__buttons .button-transparent:hover {
  color: var(--color-dark);
}
.pricing .hero {
  padding-block: 50px;
}
.pricing .hero__information {
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 768px) {
  .pricing .hero__information .h1 {
    font-size: 40px;
  }
}
.pricing .hero__information h5 {
  color: var(--color-second-text);
}
.pricing .hero .pricing-path {
  gap: 15px;
}
.pricing .hero .pricing-path h6 {
  color: var(--color-second-text);
}
.pricing .pricing-section__information {
  max-width: 1050px;
  padding: 112px 33px;
  margin: 0 auto;
  flex-direction: column;
  gap: 48px;
}
@media (max-width: 768px) {
  .pricing .pricing-section__information {
    padding: 75px 43px 0 43px;
  }
}
.pricing .pricing-section__heading {
  max-width: 625px;
  margin: 0 auto;
  text-align: center;
}
.pricing .pricing-section__heading p {
  width: 75%;
  margin: 0 auto;
}
.pricing .pricing-section__packages {
  gap: 10px;
}
.pricing .pricing-section__packages-toggle {
  width: 45px;
  padding: 3px 4px;
  border-radius: 16px;
  border: 1px solid var(--color-primary);
  cursor: pointer;
}
.pricing .pricing-section__packages-toggler {
  width: 19px;
  height: 19px;
  border-radius: 16px;
  background-color: var(--color-input-border);
  border: 1px solid rgba(208, 208, 208, 0.8156862745);
  transition: 0.4s;
}
.pricing .pricing-section__packages-toggler.monthly {
  transform: translateX(0);
}
.pricing .pricing-section__packages-toggler.yearly {
  transform: translateX(90%);
}
.pricing .pricing-section__discount {
  padding: 10px 20px;
  border-radius: 37px;
  color: var(--color-primary);
  background-color: var(--color-faded-primary);
}
.pricing .pricing-section__packages-cards {
  flex-wrap: wrap;
  padding-top: 40px;
  align-items: flex-end;
}
@media (max-width: 992px) {
  .pricing .pricing-section__packages-cards {
    flex-direction: column;
    gap: 30px;
    padding-block: 80px;
  }
}
.pricing .pricing-section__packages-card {
  max-width: 327px;
  flex-direction: column;
  gap: 35px;
  padding: 50px 40px;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
}
@media (max-width: 1100px) {
  .pricing .pricing-section__packages-card {
    padding: 50px 20px;
  }
}
@media (max-width: 768px) {
  .pricing .pricing-section__packages-card {
    padding: 50px 40px;
  }
}
.pricing .pricing-section__packages-card:nth-child(2) {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding-block: 70px;
}
.pricing .pricing-section__packages-card:nth-child(2) button:hover {
  color: var(--color-white);
}
.pricing .pricing-section__packages-card:nth-child(2) h5 {
  color: var(--color-white);
}
.pricing .pricing-section__packages-card h5 {
  color: var(--color-second-text);
  max-width: 160px;
  text-align: center;
}
.pricing .pricing-section__packages-card .card__pricing {
  gap: 10px;
  color: var(--color-primary);
}
.pricing .pricing-section__packages-card .card__features li {
  display: flex;
  align-items: center;
  gap: 15px 10px;
}
.pricing .pricing-section__packages-card .card__features li span {
  font-weight: 700;
  font-size: 14px;
}
.pricing .pricing-section__packages-card .card__features li:not(last-child) {
  margin-bottom: 15px;
}
.pricing .pricing-section__packages-card button {
  width: 100%;
  letter-spacing: 0.2px;
}
.pricing .worked-with-companies {
  text-align: center;
  padding: 80px 0;
}
.pricing .worked-with-companies h4 {
  margin-bottom: 40px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .pricing .worked-with-companies h4 {
    max-width: 230px;
    margin: 0 auto 73px auto;
  }
}
.pricing .worked-with-companies .flex-center {
  gap: 40px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .pricing .worked-with-companies .flex-center {
    flex-direction: column;
  }
}
.pricing .pricing-faqs .container-sm {
  max-width: 1050px;
  margin-inline: auto;
  padding-block: 80px;
}
.pricing .pricing-faqs .container-sm > h4 {
  color: var(--color-second-text);
  max-width: 552px;
  margin-inline: auto;
  text-align: center;
}
@media (max-width: 768px) {
  .pricing .pricing-faqs .container-sm > h4 {
    padding-inline: 50px;
  }
}
.pricing .pricing-faqs__heading {
  padding-block: 45px;
  max-width: 650px;
  margin-inline: auto;
  text-align: center;
}
.pricing .pricing-faqs__heading h4 {
  max-width: 510px;
  margin-inline: auto;
  margin-top: 10px;
  color: var(--color-second-text);
}
@media (max-width: 768px) {
  .pricing .pricing-faqs__heading h4 {
    font-size: 14px;
    color: var(--color-dark);
    max-width: 280px;
  }
}
.pricing .pricing-faqs .faqs__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 50px 16px;
}
@media (max-width: 768px) {
  .pricing .pricing-faqs .faqs__container {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
.pricing .pricing-faqs .faq {
  padding: 25px;
}
.pricing .pricing-faqs .faq__question {
  gap: 20px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .pricing .pricing-faqs .faq__question svg {
    display: none;
  }
}
.pricing .pricing-faqs .faq__answer {
  margin: 5px 0 0 30px;
  max-width: 410px;
  letter-spacing: 0.2px;
  min-height: 0;
}
@media (max-width: 768px) {
  .pricing .pricing-faqs .faq__answer {
    margin: 32px 0 0 0;
  }
}
.pricing .free-trail__container {
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  text-align: center;
  margin-inline: auto;
  padding-block: 160px;
}
@media (max-width: 768px) {
  .pricing .free-trail__container {
    padding: 112px 40px;
  }
}
@media (max-width: 768px) {
  .pricing .free-trail__container h2 {
    font-size: 40px;
  }
}
.pricing .free-trail__container p {
  max-width: 411px;
}
.pricing .free-trail__socials {
  gap: 34px;
}
.pricing .free-trail__socials a {
  position: relative;
}
.pricing .free-trail__socials a:hover::before {
  transform: translateY(40px);
  opacity: 1;
}
.pricing .free-trail__socials a:hover path {
  fill: var(--color-social);
}
.pricing .free-trail__socials a:hover .facebook-svg {
  fill: #fff;
}
.pricing .free-trail__socials a:nth-child(1):hover::before {
  transform: translateY(35px);
  opacity: 1;
}
.pricing .free-trail__socials a::before {
  content: attr(data-social);
  position: absolute;
  left: -20px;
  font-size: 12px;
  background-color: var(--color-social);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--color-white);
  font-weight: 700;
  opacity: 0;
  transition: all 0.5s;
}
.pricing .free-trail__socials a:nth-child(2)::before, .pricing .free-trail__socials a:nth-child(3):before {
  left: -25px;
}
.pricing .footer__brand, .pricing .footer__copyright {
  background-color: transparent;
  padding-inline: 24px;
}
@media (max-width: 768px) {
  .pricing .footer__brand, .pricing .footer__copyright {
    padding-inline: 46px;
  }
}
.pricing .footer__brand .container-sm {
  border-bottom: 1px solid var(--color-input-border);
}/*# sourceMappingURL=style.css.map */